name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: 0 6 * * 1
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework: [ "net8.0", "net9.0" ]
      fail-fast: false
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: "9.x"
    - name: List installed SDKs
      run: dotnet --list-sdks
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -f ${{ matrix.framework }}
    - name: Test
      run: dotnet test --no-build --verbosity normal -f ${{ matrix.framework }}
    - name: Publish Linux (arm64/x64)
      run: |
        dotnet publish src/SteamCollectionDownloadSizeCalculator.csproj -c Release -f ${{ matrix.framework }} -r linux-x64 --nologo --self-contained
        dotnet publish src/SteamCollectionDownloadSizeCalculator.csproj -c Release -f ${{ matrix.framework }} -r linux-arm64 --nologo --self-contained
    - name: Upload Linux Builds
      uses: actions/upload-artifact@v5
      if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
      with:
        name: linux-builds-${{ matrix.framework }}
        path: |
          ${{ github.workspace }}/src/bin/Release/${{ matrix.framework }}/linux-x64/publish/
          ${{ github.workspace }}/src/bin/Release/${{ matrix.framework }}/linux-arm64/publish/
    - name: Publish OSX (arm64/x64)
      run: |
        dotnet publish src/SteamCollectionDownloadSizeCalculator.csproj -c Release -f ${{ matrix.framework }} -r osx-x64 --nologo --self-contained
        dotnet publish src/SteamCollectionDownloadSizeCalculator.csproj -c Release -f ${{ matrix.framework }} -r osx-arm64 --nologo --self-contained
    - name: Upload OSX Builds
      uses: actions/upload-artifact@v5
      if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
      with:
        name: osx-builds-${{ matrix.framework }}
        path: |
          ${{ github.workspace }}/src/bin/Release/${{ matrix.framework }}/osx-x64/publish/
          ${{ github.workspace }}/src/bin/Release/${{ matrix.framework }}/osx-arm64/publish/
    - name: Publish Windows (arm64/x64)
      run: |
        dotnet publish src/SteamCollectionDownloadSizeCalculator.csproj -c Release -f ${{ matrix.framework }} -r win-x64 --nologo --self-contained
        dotnet publish src/SteamCollectionDownloadSizeCalculator.csproj -c Release -f ${{ matrix.framework }} -r win-arm64 --nologo --self-contained
    - name: Upload Windows Builds
      uses: actions/upload-artifact@v5
      if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
      with:
        name: windows-builds-${{ matrix.framework }}
        path: |
          ${{ github.workspace }}/src/bin/Release/${{ matrix.framework }}/win-x64/publish/
          ${{ github.workspace }}/src/bin/Release/${{ matrix.framework }}/win-arm64/publish/
